header {
  .nav-fp {
    li {
      @apply transition-all duration-200;
    }
    a {
      @apply text-secondary drop-shadow-md;
    }
  }
  .nav-any {
    li {
      @apply transition-all duration-200;
      &:hover {
        @apply bg-primary;
        a {
          @apply text-secondary;
        }
        li a {
          @apply bg-primary text-secondary;
          &:hover {
            @apply text-black;
          }
        }
        li:last-child {
          @apply rounded-none;
        }
      }
      li {
        @apply text-primary;
      }
      ul {
        @apply bg-primary;
      }
    }

    a {
      @apply text-primary;
    }
  }
  .nav-wc {
    li {
      @apply transition-all duration-200;
    }
    a {
      @apply text-secondary drop-shadow-md;
    }
  }
}
.menu-primary_navigation-container {
  @apply w-full;
}
.large-menu {
  @apply h-[100px] flex justify-center items-center gap-16;
  .menu-item-has-children a {
    @apply pb-0;
  }
  
  .menu-item-has-children {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  li {
    @apply z-20 flex-1 list-none relative text-4xl text-center p-4 rounded-lg;
    
    transition: background-color 0.2s;
    &:hover {
      @apply text-primary bg-secondary drop-shadow-none;
    }
    &:hover a {
      @apply text-primary;
    }
    ul {
      @apply opacity-0 invisible pointer-events-none w-full absolute top-full overflow-visible left-0 flex flex-wrap bg-secondary transition-all duration-200;
      border-radius: 0 0 0.5rem 0.5rem;
      .current-menu-item {
        a {
          @apply !text-black;
        }
        ul > li > a {
          @apply !text-primary;
        }
      }
      .current_page_item {
        @apply !text-black;
      }
      li {
        @apply min-w-[200px] flex flex-1 items-center text-left p-0 m-0;
        a {
          @apply px-4 py-1 w-full text-lg text-primary;
        }
        a:hover {
          @apply text-black transition-colors duration-200 ease-in-out;
        }
        &:first-child {
          @apply rounded-none pb-0;
        }
        &:last-child {
          @apply mb-2;
        }
        &:hover {
          @apply rounded-none bg-transparent drop-shadow-none;
        }
      }
      li:last-child {
        @apply border-none;
        border-radius: 0 1rem 1rem 1rem;
      }
    }
    &:hover ul {
      @apply opacity-100 visible pointer-events-auto;
    }
  }
}

#smallMenu > div > .menu-primary_navigation-container {
  @apply h-full flex justify-center items-center;
}
.mobile-menu {
  @apply w-full left-0;
  li {
    @apply w-full pt-4 relative list-none transition-all duration-200;
    &:hover {
      @apply translate-x-2;
    }
    &:hover ul {
      @apply -translate-x-2;
    }
    a {
      @apply text-primary;
    }
    ul {
      @apply text-xl left-4 relative transition-all duration-200;
      li {
        @apply transition-all duration-200;
        &:hover {
          @apply translate-x-2;
        }
      }
    }
  }
  .current-menu-item {
    a {
      @apply !text-black;
    }
    ul > li > a {
      @apply !text-primary;
    }
  }
  .current_page_item {
    @apply !text-black;
  }
}
