@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'components/mimir.css';
@import 'components/instagram.css';
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/contactform.css';
@import 'components/woocommerce.css';
@font-face {
  font-family: 'Lora';
  src: local('Lora'), url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Any and All */
* {
  text-decoration: none;
}
section {
  @apply flex flex-wrap justify-center gap-8 lg:gap-16 xl:gap-32;
}
body {
  @apply font-primary m-0 p-0;
  a {
    @apply text-blue-600 m-0 p-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary text-primary uppercase;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}
