@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Zen+Kaku+Gothic+New:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Any and All */
* {
    text-decoration: none;
}
body {
    @apply font-primary m-0 p-0;
    a {
        @apply text-blue-600 m-0 p-0;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-secondary text-primary uppercase py-4;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }
}

.mimir {
    ol {
        @apply list-decimal relative left-6;
    }
    ul {
        @apply list-disc relative left-6;

    }
}

/* Header */
.banner {
    @apply w-full h-[100px] absolute top-0 justify-center z-20;
        .nav {
            @apply h-[100px] w-full flex justify-center items-center gap-16;
            li {
                @apply list-none text-secondary relative text-4xl pt-4 pl-4 pr-4 mb-4 w-[200px] text-center;
                border-radius: .5rem .5rem 0 0;
                transition: background-color 0.1s;
                &:first-child {
                    @apply pb-4 mb-0 rounded-lg;
                }
                &:hover {
                    @apply text-primary bg-secondary;
                }
                &:hover a {
                    @apply text-primary;
                }
                a {
                    @apply text-secondary;
                }
                ul {
                    @apply opacity-0 invisible pointer-events-none w-full absolute overflow-visible left-0 flex flex-wrap bg-secondary;
                    transition: 0.1s;
                    border-radius: 0 0 .5rem .5rem;
                    li {
                        @apply relative w-full h-[50px] flex items-center text-left p-0 pl-4 pr-4 m-0;
                        a {
                            @apply relative h-[25px] w-full text-lg text-primary;
                        }
                        a:hover {
                            @apply text-black transition-colors duration-100 ease-in-out;
                        }
                        &:first-child {
                            @apply rounded-none pb-0;
                        }
                        &:last-child {
                            @apply pb-4;
                        }
                    }
                    li:hover {
                        @apply rounded-none bg-none;
                    }
                    li:last-child {
                        @apply pb-2 border-none;
                        border-radius: 0 1rem 1rem 1rem ;
                    }
                }
                &:hover ul {
                    @apply opacity-100 visible pointer-events-auto;
                }
            }
        .current_page_item::after {
            @apply absolute z-20 w-2 h-2 left-2 top-2 rounded-full bg-primary;
            content: " ";
        }
    }      
}

#smallMenu > div > .menu-primary_navigation-container {
    @apply h-full flex justify-center items-center;
}
.mobile-menu {
    @apply w-full left-0;
    li {
        @apply w-full pt-4 relative list-none;
        a {
            @apply text-primary;
        }
        .sub-menu {
            @apply text-xl left-4 relative;
        }
    }
}

/* Footer */
.content-info {
    @apply relative bottom-0 w-full h-[100px]; 
    .nav {
        @apply w-full flex justify-center gap-8;
        li {
            @apply list-none;
            transition: color 0.15s ease-in-out;
            a {
                @apply text-black;
                &:hover {
                    @apply text-primary;
                }
            }
        }
        .current_page_item {
            @apply no-underline;
        }
    }
}

/* Extra */
.eventBody a {
    color: blue;
}
/* #questionnaire_body {
    translate: 
} */