@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Any and All */
* {
    font-family: 'Lora', serif;
    text-decoration: none;
}
/* Header */
.banner {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    justify-content: center;
    z-index: 20;
    text-transform: uppercase;
    .nav-primary {
        
        .menu-primary_navigation-container {
            .nav {
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4rem;
                .menu-item {
                    color: #ececec;
                    position: relative;
                    font-size: 2rem;
                    padding: 1rem;
                    width: 200px;
                    text-align: center;
                    .sub-menu {
                        
                        display: block;
                        position: absolute;
                        left: 0;
                        overflow:visible;
                        flex-wrap: wrap;
                        transition: all;
                        animation-duration: 0.3s;
                        animation: ease-in-out;
                        background-color: var(--wp--preset--color--secondary);
                        width: 100%;
                        border-top: 1px solid var(--wp--preset--color--primary);
                        border-radius: 0 0 1rem 1rem ;
                        .menu-item {
                            text-align: left;
                            position: relative;
                            width: 100%;
                            height: 50px;
                            padding: 0;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            margin: 0;
                            border-bottom: 1px dotted var(--wp--preset--color--primary);
                            display: flex;
                        }
                        .menu-item:hover {
                            border-radius: 0;
                        }
                        .menu-item:last-child {
                            padding-bottom: .5rem;
                            border-radius: 0 1rem 1rem 1rem ;
                            border: none;
                        }
                        a {
                            width: 100%;
                            font-size: 1rem;
                            color: var(--wp--preset--color--primary);
                        }
                        a:hover {
                            color: black;
                        }
                    }
                    
                    &:hover .sub-menu {
                        display: flex;
                    }
                }
                .menu-item:hover {
                    color: var(--wp--preset--color--primary);
                    background-color: var(--wp--preset--color--secondary);
                    border-radius: 1rem 1rem 0 0;
                    &:first-child {
                        border-radius: 1rem;
                    }
                }
                .current_page_item::after {
                    content: " ";
                    position: absolute;
                    z-index: 20;
                    width: 8px;
                    height: 8px;
                    left: 8px;
                    top: 8px;
                    border-radius: 100%;
                    background-color: var(--wp--preset--color--primary);
                }
            }
        }
    }
}

#smallMenu > div > .menu-primary_navigation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu {
    width: 100%;
    .menu-item {
        width: 100%;
        padding-top: 1rem;
    }
}

/* Footer */
.content-info {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    bottom: 0;
    .nav-secondary {
        
        .menu-secondary_navigation-container {
            .nav {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 2rem;
                .menu-item {
                    color: black;
                }
                .current_page_item {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Extra */
.bgCalc {
    top: calc(50% - 150px);
}
.eventBody a {
    color: blue;
}
/* #questionnaire_body {
    translate: 
} */