@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Extra */
.bgCalc1 {
    background-color: #F2F2F2;
}
.bgCalc2 {
    top: calc(50% - 150px);
    background-color: #8f9e82;
}